@model Music.Model.EF.User

@{
    ViewBag.Title = "Thêm người dùng";
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                @if (ViewBag.noti_failed != null)
                {
                    <div class="alert alert-danger">
                        <span>@ViewBag.noti_failed</span>
                    </div>
                }
                @using (Html.BeginForm("Create", "UsersA", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal mt-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_img, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="file" name="file_img" class="btn btn-danger" required />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                        @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_pass, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_pass, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.user_pass, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_point, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_point, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.user_point, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (ViewBag.noti_failed != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.user_birth, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="datetime-local" value="@Model.user_birth.Value.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T')" name="user_birth" class="form-control" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.user_birth, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="datetime-local" name="user_birth" class="form-control" />
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.user_phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.user_address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user_address, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (ViewBag.roleCreate == 2)
                {
                    <input type="hidden" name="role_id" value="1" />
                    <input type="hidden" name="user_vip" value="True" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.user_datevip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="datetime-local" name="user_datevip" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.user_deadline, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="datetime-local" name="user_deadline" class="form-control" />
                        </div>
                    </div>
                    <input type="hidden" name="url" value="IndexVip" />
                }
                else if (ViewBag.roleCreate == 3)
                {
                    <input type="hidden" name="role_id" value="2" />
                    <input type="hidden" name="url" value="IndexAdmins" />
                }
                else
                {
                    <input type="hidden" name="role_id" value="1" />
                    <input type="hidden" name="url" value="Index" />
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
                }
            </div>
        </div>
    </div>
</div>