@model IEnumerable<Music.Model.EF.User>

@{
    ViewBag.Title = "Quản lý admin";
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
    var active = "active";
    var option = "option";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a href="/AdminMain/UsersA/Create" class="btn btn-danger"><i class="fa fa-plus">&nbsp;</i>Thêm người dùng</a>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Mã người dùng</th>
                                <th>Ảnh cá nhân</th>
                                <th>Tên hiển thị</th>
                                <th>Mật khẩu</th>
                                <th>Email</th>
                                <th>Ngày tạo</th>
                                <th>Ngày đăng nhập</th>
                                <th>Tình trạng</th>
                                <th>Hoạt động</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.user_code</td>
                                    <td>
                                        <img src="~/Images/User/@item.user_img" style="width: 50px; height: 50px" />
                                    </td>
                                    <td>@item.user_name</td>
                                    <td>@item.user_pass</td>
                                    <td>@item.user_email</td>
                                    <td>@item.user_datecreate</td>
                                    <td>@item.user_datelogin</td>
                                    <td>
                                        <div class="ui toggle checkbox" id="@option@item.user_id">
                                            <input type="checkbox" @(item.user_option == true ? "checked" : "")>
                                            <label id=""></label>
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                $("#@option@item.user_id").click(function () {
                                                    setTimeout(function () {
                                                        $.ajax({
                                                        type: "post",
                                                        url: "/AdminMain/UsersA/ChangeOption?id=" + @item.user_id,
                                                        contentType: "Json",
                                                        success: function (response) {
                                                            alert("success!");
                                                        }
                                                    })
                                                    }, 300)
                                                })
                                            })
                                        </script>
                                    </td>
                                    <td>
                                        <div class="ui toggle checkbox" id="@active@item.user_id">
                                            <input type="checkbox" @(item.user_active == true ? "checked" : "")>
                                            <label></label>
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                $("#@active@item.user_id").click(function () {
                                                    setTimeout(function () {
                                                        $.ajax({
                                                        type: "post",
                                                        url: "/AdminMain/UsersA/ChangeActive?id=" + @item.user_id,
                                                        contentType: "Json",
                                                        success: function (response) {
                                                            alert("success!");
                                                        }
                                                    })
                                                    }, 300)
                                                })
                                            })
                                        </script>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.user_id }) |
                                        @Html.ActionLink("Xem", "Details", new { id = item.user_id }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.user_id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mã người dùng</th>
                                <th>Ảnh cá nhân</th>
                                <th>Tên hiển thị</th>
                                <th>Mật khẩu</th>
                                <th>Email</th>
                                <th>Ngày tạo</th>
                                <th>Ngày đăng nhập</th>
                                <th>Tình trạng</th>
                                <th>Hoạt động</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
