@model Music.Model.EF.Singer

@{
    ViewBag.Title = "Sửa thông tin ca sỹ " + Model.singer_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>

                @using (Html.BeginForm("Edit", "SingersA", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.singer_id)
                    @Html.HiddenFor(x => x.singer_datecreate)
                    @Html.HiddenFor(x => x.singer_bin)
                    @Html.HiddenFor(x => x.singer_img)
                    <div class="form-horizontal mt-3 ui form segment">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.singer_id)
                        <div class="form-group">
                            <label>Tên Ca Sỹ</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.singer_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.singer_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Trạng Thái Hoạt Động</label>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.singer_active)
                                    @Html.ValidationMessageFor(model => model.singer_active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ghi Chú</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.singer_note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.singer_note, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Hình Ảnh</label>
                            <div class="col-md-12">
                                <input type="file" class="btn btn-danger" name="img" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Sửa" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
