@model Music.Model.EF.Music

@{
    ViewBag.Title = "Thêm nhạc";
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
    Music.Model.EF.MusicProjectDataEntities db = new Music.Model.EF.MusicProjectDataEntities();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>

                @using (Html.BeginForm("Create", "MusicsA", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal mt-3 ui form segment">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="field">
                            <label>Tên Bài Hát</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.music_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.music_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="field">
                            <label>Hình Ảnh</label>
                            <div class="col-md-12">
                                <input type="file" class="btn btn-danger" name="img" required />
                            </div>
                        </div>

                        <div class="field">
                            <label>Lời Bài Hát</label>
                            <div class="col-md-12">
                                <textarea name="music_lyric"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label>Thời Lượng</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.music_time, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.music_time, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="field">
                            <label>Lượt Nghe</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.music_view, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.music_view, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="field">
                            <label>Lượt Tải</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.music_dowload, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.music_dowload, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="field">
                            <label>Tên Người Tạo</label>
                            <div class="col-md-12">
                                <select name="user_id" class="ui fluid dropdown search">
                                    <option value="">-- Chọn danh mục -- </option>
                                    @foreach (var item in db.Users)
                                    {
                                        <option value="@item.user_id">@item.user_email</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Link Nhạc</label>
                            <div class="col-md-12">
                                <input type="file" class="btn btn-danger" name="link_mp3" required />
                            </div>
                        </div>

                        <div class="field">
                            <label>Link MV (Nếu có)</label>
                            <div class="col-md-12">
                                <input type="file" class="btn btn-danger" name="link_video" required />
                            </div>
                        </div>

                        <div class="field">
                            <label>Trạng Thái Hoạt Động</label>
                            <div class="col-md-12">
                                <select class="ui dropdown" name="music_active">
                                    <option value="true">Hoạt Động</option>
                                    <option value="false">Không Hoạt Động</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Trạng Thái Hiển Thị</label>
                            <div class="col-md-12">
                                <select class="ui dropdown" name="music_option">
                                    <option value="true">Hoạt Động</option>
                                    <option value="false">Không Hoạt Động</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Danh mục</label>
                            <div class="col-md-12">
                                <select name="category" multiple="" class="ui fluid dropdown search">
                                    <option value="">-- Chọn danh mục -- </option>
                                    @foreach (var item in db.Categories.Where(x => x.category_bin == false && x.category_active == true))
                                    {
                                        <option value="@item.category_id">@item.category_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Ca sĩ</label>
                            <div class="col-md-12">
                                <select name="singers" multiple="" class="ui fluid dropdown search">
                                    <option value="">-- Chọn ca sĩ -- </option>
                                    @foreach (var item in db.Singers.Where(x => x.singer_bin == false && x.singer_active == true))
                                    {
                                        <option value="@item.singer_id">@item.singer_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Album</label>
                            <div class="col-md-12">
                                <select name="album" multiple="" class="ui fluid dropdown search">
                                    <option value="">-- Chọn ca sĩ -- </option>
                                    @foreach (var item in db.Albums.Where(x => x.album_bin == false && x.album_active == true))
                                    {
                                        <option value="@item.album_id">@item.album_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Quốc Gia</label>
                            <div class="col-md-12">
                                <select name="national_id" class="ui fluid dropdown search">
                                    <option value="">-- Chọn quốc gia -- </option>
                                    @foreach (var item in db.Nationals.Where(x => x.nation_bin == false && x.nation_active == true))
                                    {
                                        <option value="@item.nation_id">@item.nation_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Phân Loại Âm Nhạc</label>
                            <div class="col-md-12">
                                <select name="genres_id" class="ui fluid dropdown search">
                                    <option value="">-- Chọn thể loại -- </option>
                                    @foreach (var item in db.Genres)
                                    {
                                        <option value="@item.genres_id">@item.genres_name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label>Chọn Nhạc Sĩ</label>
                            <div class="col-md-12">
                                @Html.DropDownList("author_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.author_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="field">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Thêm" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

