@model Music.Model.EF.Music

@{
    ViewBag.Title = "Xem chi tiết nhạc " + Model.music_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/MusicsA/Edit/@Model.music_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa bài hát</a>
                <div>
                    <dl class="dl-horizontal mt-3">
                        <dt>
                            @Html.DisplayNameFor(model => model.music_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_img)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_img)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_lyric)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_lyric)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_time)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_time)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_view)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_view)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_dowload)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_dowload)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.user_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.user_id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_linkdow)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_linkdow)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_datecreate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_datecreate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_dateedit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_dateedit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_bin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_bin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_option)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_option)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.music_video)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.music_video)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Album.album_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Album.album_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Author.author_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Author.author_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Genre.genres_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Genre.genres_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.National.nation_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.National.nation_name)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

