@model Music.Model.EF.Music

@{
    ViewBag.Title = "Xem chi tiết nhạc " + Model.music_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/MusicsA/Edit/@Model.music_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa bài hát</a>
                <form class="ui form segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Bài Hát</label>
                            <input value="@Model.music_name" name="music_name" type="text" />
                        </div>
                        <div class="field">
                            <label>Hình Ảnh</label>
                            <img class="ui medium rounded image" src="~/Images/music/@Model.music_img">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Nhạc Sĩ</label>
                            <input value="@Model.Author.author_name" name="author_name" type="text" />
                        </div>
                        <div class="field">
                            <label>Album</label>
                            <input value="@Model.Album.album_name" name="album_name" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Phân Loại Bài Hát</label>
                            <input value="@Model.Genre.genres_name" name="genres_name" type="text" />
                        </div>
                        <div class="field">
                            <label>Quốc Gia</label>
                            <input value="@Model.National.nation_name" name="nation_name" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Ngày Tạo</label>
                            <input value="@Model.music_datecreate" name="music_datecreate" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Trạng Thái Hoạt Động</label>
                            <select class="ui dropdown" name="music_active">
                                @if (Model.music_active == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                        <div class="field">
                            <label>Trạng Thái Hiển Thị</label>
                            <select class="ui dropdown" name="music_option">
                                @if (Model.music_option == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Ghi Chú</label>
                        <textarea>@Model.music_lyric</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

