@model IEnumerable<Music.Model.EF.Music>

@{
    ViewBag.Title = "Quản lý nhạc người dùng";
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
    var active = "active";
    var option = "option";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a href="/AdminMain/MusicsA/Create" class="btn btn-danger"><i class="fa fa-plus">&nbsp;</i>Thêm nhạc</a>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th><i class="fas fa-icons"></i> Mã nhạc</th>
                                <th><i class="fas fa-compact-disc"></i> Ảnh</th>
                                <th><i class="fas fa-music"></i> Tên nhạc</th>
                                <th><i class="fas fa-hourglass-half"></i> Thời gian</th>
                                <th><i class="fas fa-eye"></i> Lượt xem</th>
                                <th><i class="fas fa-download"></i> Lượt tải</th>
                                <th><i class="fas fa-user"></i> Người đăng</th>
                                <th><i class="fas fa-globe-europe"></i> Quốc gia</th>
                                <th><i class="fab fa-napster"></i> Nhạc sỹ</th>
                                <th><i class="fas fa-podcast"></i> Thể loại</th>
                                <th><i class="fas fa-compact-disc"></i> Album</th>
                                <th><i class="fas fa-check-circle"></i> Tình trạng</th>
                                <th><i class="far fa-check-circle"></i> Hoạt động</th>
                                <th><i class="fas fa-cogs"></i> Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.music_id</td>
                                <td>
                                    <img src="~/Images/Music/@item.music_img" style="width: 50px; height: 50px" />
                                </td>
                                <td>@item.music_name</td>
                                <td>@item.music_time</td>
                                <td>@item.music_view</td>
                                <td>@item.music_dowload</td>
                                <td>@item.User.user_name</td>
                                <td>@item.National.nation_name</td>
                                <td>@item.Author.author_name</td>
                                <td>@item.Genre.genres_name</td>
                                <td>
                                    @foreach (var item1 in item.PlayLists)
                                    {
                                        <span>@item1.Album.album_name | </span>
                                    }
                                </td>
                                <td>
                                    <div class="ui toggle checkbox" id="@option@item.music_id">
                                        <input type="checkbox" @(item.music_option == true ? "checked" : "")>
                                        <label id=""></label>
                                    </div>
                                    <script>
                                            $(document).ready(function () {
                                                $("#@option@item.music_id").click(function () {
                                                    setTimeout(function () {
                                                        $.ajax({
                                                        type: "post",
                                                        url: "/AdminMain/MusicsA/ChangeOption?id=" + @item.music_id,
                                                        contentType: "Json",
                                                        success: function (response) {
                                                            alert("success!");
                                                        }
                                                    })
                                                    }, 300)
                                                })
                                            })
                                    </script>
                                </td>
                                <td>
                                    <div class="ui toggle checkbox" id="@active@item.music_id">
                                        <input type="checkbox" @(item.music_active == true ? "checked" : "")>
                                        <label></label>
                                    </div>
                                    <script>
                                            $(document).ready(function () {
                                                $("#@active@item.music_id").click(function () {
                                                    setTimeout(function () {
                                                        $.ajax({
                                                        type: "post",
                                                        url: "/AdminMain/MusicsA/ChangeActive?id=" + @item.music_id,
                                                        contentType: "Json",
                                                        success: function (response) {
                                                            alert("success!");
                                                        }
                                                    })
                                                    }, 300)
                                                })
                                            })
                                    </script>
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.music_id }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.music_id }) |
                                    @Html.ActionLink("Xóa", "DeleteVip", new { id = item.music_id })
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th><i class="fas fa-icons"></i> Mã nhạc</th>
                                <th><i class="fas fa-compact-disc"></i> Ảnh</th>
                                <th><i class="fas fa-music"></i> Tên nhạc</th>
                                <th><i class="fas fa-hourglass-half"></i> Thời gian</th>
                                <th><i class="fas fa-eye"></i> Lượt xem</th>
                                <th><i class="fas fa-download"></i> Lượt tải</th>
                                <th><i class="fas fa-user"></i> Người đăng</th>
                                <th><i class="fas fa-globe-europe"></i> Quốc gia</th>
                                <th><i class="fab fa-napster"></i> Nhạc sỹ</th>
                                <th><i class="fas fa-podcast"></i> Thể loại</th>
                                <th><i class="fas fa-compact-disc"></i> Album</th>
                                <th><i class="fas fa-check-circle"></i> Tình trạng</th>
                                <th><i class="far fa-check-circle"></i> Hoạt động</th>
                                <th><i class="fas fa-cogs"></i> Tùy chọn</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
