@using Music.Model.EF;
@using Music.FrontEnd.Function;
@{
    MusicProjectDataEntities db = new MusicProjectDataEntities();
    ViewBag.Title = "Home Page";

    FunctionController function = new FunctionController();
    List<Slider> sliders = db.Sliders.ToList();
    List<Music> musics = db.Musics.ToList();
    List<Singer> singer = db.Singers.ToList();
    List<Album> album = db.Albums.ToList();
    List<User> user = db.Users.ToList();
    List<Category> category = db.Categories.ToList();
    List<Quest> quests = db.Quests.ToList();
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        @foreach (var item in sliders.Where(n => n.slider_active == true).OrderByDescending(n => n.slider_datecreate))
        {
            <div class="hero__item set-bg" data-setbg="../../Images/Banner/@item.slider_img">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>@item.slider_name</h2>
                                <a href="#" class="primary-btn">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hero Section End -->
<!-- Nhạc mới nhất -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Mới Nhất</span>
                        <h2>Hôm Nay Nghe Gì?</h2>
                    </div>
                    <p>
                        Tuổi trẻ này thì ngắn, thế giới thì rộng lớn bao la. Nên thay vì ngồi im và chờ cơ hội, bạn cần phải chạy thật nhanh để ngắm nhìn mọi thứ.
                    </p>
                    <p>
                        Mời các bạn cùng tận hưởng một mùa hè thật thú vị cũng như ôn lại những khoảnh khắc tươi đẹp của mùa hè, của thời học sinh, của những cơn mưa bất chợt.
                    </p>
                    <a href="@Url.Action("Index", "Musics")" class="primary-btn">Xem Tất Cả Bài Hát</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in musics.Where(n => n.music_active == true && n.music_option == true && n.music_bin == false && n.User.role_id == 2).OrderByDescending(n => n.music_datecreate).Take(8))
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card-media">
                                <!-- media container -->
                                <div class="card-media-object-container">
                                    <div class="card-media-object w-100" style="background-image: url('../../Images/Music/@item.music_img');"></div>
                                    @if (item.music_vip == true)
                                    {
                                        <span class="card-media-object-tag subtle text-danger">VIP</span>
                                    }
                                    else
                                    {
                                        <span class="card-media-object-tag subtle">Miễn Phí</span>
                                    }
                                    <ul class="card-media-object-social-list">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            <li>
                                                @foreach (var items in singer)
                                                {
                                                    foreach (var jtem in item.Groups.Where(x => x.singer_id != items.singer_id))
                                                    {
                                                        <img src="~/Images/Singer/@items.singer_img" class="">
                                                    }
                                                }
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @foreach (var items in user.Where(n => n.user_id == item.user_id))
                                                {
                                                    <img src="~/Images/User/@items.user_img" class="">
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- body container -->
                                <div class="card-media-body">
                                    <div class="card-media-body-top">
                                        <span class="subtle">@item.music_datecreate.Value.Day/@item.music_datecreate.Value.Month/@item.music_datecreate.Value.Year</span>
                                        <div class="card-media-body-top-icons u-float-right">
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0z" fill="none" />
                                                <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                            </svg>
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                <path d="M0 0h24v24H0z" fill="none" />
                                            </svg>
                                        </div>
                                    </div>
                                    <span class="card-media-body-heading" style="font-size: 16px !important; font-weight:bold;">@item.music_name</span>
                                    <div class="card-media-body-supporting-bottom">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            foreach (var items in singer)
                                            {
                                                foreach (var jtem in item.Groups.Where(x => x.singer_id == items.singer_id))
                                                {
                                                    <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.singer_name</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            foreach (var items in user.Where(n => n.user_id == item.user_id))
                                            {
                                                <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.user_name</span>
                                            }
                                        }
                                    </div>
                                    <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                        @foreach (var items in album.Where(n => n.album_id == item.album_id))
                                        {
                                            <span class="card-media-body-supporting-bottom-text subtle">#@items.album_name</span>
                                        }
                                        @if (function.Cookie() != null)
                                        {
                                            var idus = function.CookieID();
                                            if (item.music_vip == true)
                                            {
                                                if (idus.user_vip == true)
                                                {
                                                    <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                                }
                                                else
                                                {
                                                    <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>

                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else if (function.Cookie() == null)
                                        {
                                            if (item.music_vip == true)
                                            {
                                                <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nhạc Mới Nhất -->
<!-- danh sach nhiem vu bai nhac -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Mới Nhất</span>
                        <h2>Danh sách nhiệm vụ</h2>
                    </div>
                    <p>
                        Hoàn thành nhiệm vụ để hưởng thụ cảm giác siêu cấp vip pro<br />
                        Còn ngần ngại gì nữa nạp ngay lần đầu để được khuyến mãi tận 100%.<br />
                    </p>
                    @if (function.CookieID() != null)
                    {
                        <a href="/Musics/Index" class="primary-btn">Bắt đầu ngay</a>
                    }
                    else
                    {
                        <a href="/Users/Login" class="primary-btn">Bắt đầu ngay</a>
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in quests.Where(n => n.quest_active == true && DateTime.Compare(n.quest_dateend.Value, DateTime.Now) >= 0).OrderBy(n => n.quest_dateend))
                    {

                        var user1 = function.CookieID();
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card-media">
                                <!-- media container -->
                                <div class="card-media-object-container">
                                    <div class="card-media-object w-100" style="background-image: url('../../Images/Default/quest.png');"></div>
                                    <span class="card-media-object-tag subtle">Mới Nhất</span>
                                    <ul class="card-media-object-social-list">
                                    </ul>
                                </div>
                                <!-- body container -->
                                <div class="card-media-body">
                                    <div class="card-media-body-top">
                                        <span class="subtle">Hạn chót: @item.quest_dateend.Value.ToLongDateString()</span>
                                        <div class="card-media-body-top-icons u-float-right">
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0z" fill="none" />
                                                <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                            </svg>
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                <path d="M0 0h24v24H0z" fill="none" />
                                            </svg>
                                        </div>
                                    </div>
                                    <span class="card-media-body-heading" style="font-size: 16px !important; font-weight:bold;">@item.quest_title</span>
                                    @if (function.CookieID() != null)
                                    {
                                        var qg = db.QuestGroups.FirstOrDefault(t => t.quest_id == item.quest_id && t.user_id == user1.user_id);
                                        if (qg != null)
                                        {
                                            <span class="card-media-body-heading" style="font-size: 13px !important; font-weight:bold;">Tiến độ: @(qg.qg_progress)/@item.quest_limit</span>
                                        }
                                        else
                                        {
                                            <span class="card-media-body-heading" style="font-size: 13px !important; font-weight:bold;">Tiến độ: 0/@item.quest_limit</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="card-media-body-heading" style="font-size: 13px !important; font-weight:bold;">Tiến độ: 0/@item.quest_limit</span>
                                    }
                                    <div class="card-media-body-supporting-bottom">
                                        @if (item.quest_category != null)
                                        {
                                            <span class="card-media-body-supporting-bottom-text subtle u-float-right">@item.Category.category_name&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        }
                                        @if (item.quest_singer != null)
                                        {
                                            <span class="card-media-body-supporting-bottom-text subtle u-float-right">@item.Singer.singer_name&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        }
                                        @if (item.quest_national != null)
                                        {
                                            <span class="card-media-body-supporting-bottom-text subtle u-float-right">@item.National.nation_name&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        }

                                        @if (user1 != null)
                                        {
                                            var qg = db.QuestGroups.FirstOrDefault(t => t.quest_id == item.quest_id && t.user_id == user1.user_id);

                                            if (qg != null && qg.qg_status == true)
                                            {
                                                <span style="color: green" class="card-media-body-supporting-bottom-text subtle u-float-right">Đã hoàn thành&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span style="color: red" class="card-media-body-supporting-bottom-text subtle u-float-right">Chưa hoàn thành&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            }
                                        }
                                    </div>
                                    <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //danh sachs bai nhac -->
<!-- Album Mới Nhất -->
<section class="services spad mt-1" style="margin-top: -10%">
    <div class="container">
        <div class="services__title">
            <div class="section-title">
                <span>Album</span>
                <h2>Mới Phát Hành</h2>
            </div>
            <p>
                If you hire a videographer of our team you will get a video professional to make a custom
                video for your business and, once the project is over.
            </p>
            <a href="#" class="primary-btn">Xem Tất Cả Album</a>
        </div>
        <div id="billboard-bar">
            <div id="scroll">
                <i class="fas fa-angle-left color-shade scroll-item"></i>
                <i class="fas fa-angle-right color-shade scroll-item"></i>
            </div>
        </div>
        <div id="overflow-scroll">
            <div id="cards">
                @foreach (var item in album.Where(n => n.album_active == true && n.album_bin == false && n.User.role_id == 2).OrderByDescending(n => n.album_datecreate).Take(10).ToList())
                {
                    <div class="card-content">
                        <img class="thumbnail" src="~/Images/Album/@item.album_img" alt="coloring-book" />
                        <h3 class="text-white">@item.album_name</h3>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Album mới nhất -->
<!-- Ca sĩ -->
<section class="team spad set-bg" data-setbg="../../Content/Layout/img/team-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title">
                    <span>Ca Sĩ</span>
                    <h2>Trending</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in singer.Where(n => n.singer_active == true && n.singer_bin == false).OrderByDescending(n => n.singer_datecreate).Take(12).ToList())
            {
                <div class="col-lg-3 col-md-6 col-sm-6 mb-3 p-0">
                    <div class="team__item set-bg" data-setbg="../../Images/Singer/@item.singer_img" style="width: 80%; height: 200px; border-radius: 10%">
                        <div class="team__item__text">
                            <a href="#"><h4>@item.singer_name</h4></a>
                            <p></p>
                            <div class="team__item__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12 mt-5 p-0">
                <div class="team__btn">
                    <a href="#" class="primary-btn">Xem Tất Cả</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ca sĩ hot -->
<!-- Nhạc phổ biến nhất -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Trending</span>
                        <h2>Nhạc Phổ Biến Nhất</h2>
                    </div>
                    <p>
                        If you hire a videographer of our team you will get a video professional to make a custom
                        video for your business and, once the project is over.
                    </p>
                    <a href="@Url.Action("Musics", "Index")" class="primary-btn">Xem Tất Cả</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in musics.Where(n => n.music_active == true && n.music_option == true && n.music_bin == false && n.User.role_id == 2).OrderByDescending(n => n.music_view).Take(8))
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card-media">
                                <!-- media container -->
                                <div class="card-media-object-container">
                                    <div class="card-media-object w-100" style="background-image: url('../../Images/Music/@item.music_img');"></div>
                                    @if (item.music_vip == true)
                                    {
                                        <span class="card-media-object-tag subtle text-danger">VIP</span>
                                    }
                                    else
                                    {
                                        <span class="card-media-object-tag subtle">Miễn Phí</span>
                                    }
                                    <ul class="card-media-object-social-list">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            <li>
                                                @foreach (var items in singer)
                                                {
                                                    foreach (var jtem in item.Groups.Where(x => x.singer_id != items.singer_id))
                                                    {
                                                        <img src="~/Images/Singer/@items.singer_img" class="">
                                                    }
                                                }
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @foreach (var items in user.Where(n => n.user_id == item.user_id))
                                                {
                                                    <img src="~/Images/User/@items.user_img" class="">
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- body container -->
                                <div class="card-media-body">
                                    <div class="card-media-body-top">
                                        <span class="subtle">@item.music_datecreate.Value.Day/@item.music_datecreate.Value.Month/@item.music_datecreate.Value.Year</span>
                                        <div class="card-media-body-top-icons u-float-right">
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0z" fill="none" />
                                                <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                            </svg>
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                <path d="M0 0h24v24H0z" fill="none" />
                                            </svg>
                                        </div>
                                    </div>
                                    <span class="card-media-body-heading" style="font-size: 16px !important; font-weight:bold;">@item.music_name</span>
                                    <div class="card-media-body-supporting-bottom">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            foreach (var items in singer)
                                            {
                                                foreach (var jtem in item.Groups.Where(x => x.singer_id == items.singer_id))
                                                {
                                                    <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.singer_name</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            foreach (var items in user.Where(n => n.user_id == item.user_id))
                                            {
                                                <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.user_name</span>
                                            }
                                        }
                                    </div>
                                    <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                        @foreach (var items in album.Where(n => n.album_id == item.album_id))
                                        {
                                            <span class="card-media-body-supporting-bottom-text subtle">#@items.album_name</span>
                                        }
                                        @if (function.Cookie() != null)
                                        {
                                            var idus = function.CookieID();
                                            if (item.music_vip == true)
                                            {
                                                if (idus.user_vip == true)
                                                {
                                                    <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                                }
                                                else
                                                {
                                                    <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>

                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else if (function.Cookie() == null)
                                        {
                                            if (item.music_vip == true)
                                            {
                                                <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nhạc phổ biến Nhất -->
<!-- Album Phổ biến -->
<section class="services spad" style="margin-top: -10%">
    <div class="container">
        <div class="services__title">
            <div class="section-title">
                <span>Album</span>
                <h2>Phổ Biến Hiện Nay</h2>
            </div>
            <p>
                If you hire a videographer of our team you will get a video professional to make a custom
                video for your business and, once the project is over.
            </p>
            <a href="#" class="primary-btn">Xem Tất Cả Album</a>
        </div>
        <div id="billboard-bar">
            <div id="scroll">
                <i class="fas fa-angle-left color-shade scroll-item"></i>
                <i class="fas fa-angle-right color-shade scroll-item"></i>
            </div>
        </div>
        <div id="overflow-scroll">
            <div id="cards">
                @foreach (var item in album.Where(n => n.album_active == true && n.album_bin == false && n.User.role_id == 2).OrderByDescending(n => n.album_view).Take(10).ToList())
                {
                    <div class="card-content">
                        <img class="thumbnail" src="~/Images/Album/@item.album_img" alt="coloring-book" />
                        <h3 class="text-white">@item.album_name</h3>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Album phổ biến -->
<!-- Top Thịnh Hành -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>Thịnh Hành</span>
                        <h2>TOP Nổi Bật</h2>
                    </div>
                    <p>
                        Những bài hát, album có lượt tải nhiều nhất.
                    </p>
                    <a href="#" class="primary-btn">Album Thịnh Hành</a>
                </div>
                <div id="billboard-bar">
                    <div id="scroll" style="color: white">
                        <i class="fas fa-angle-left color-shade scroll-item"></i>
                        <i class="fas fa-angle-right color-shade scroll-item"></i>
                    </div>
                </div>
                <div id="overflow-scroll">
                    <div id="cards">
                        @foreach (var item in album.Where(n => n.album_active == true && n.album_bin == false && n.User.role_id == 2).OrderByDescending(n => n.album_view).Take(2).ToList())
                        {
                            <div class="card-content">
                                <img class="thumbnail" src="~/Images/Album/@item.album_img" alt="coloring-book" />
                                <h3 class="text-white">@item.album_name</h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in musics.Where(n => n.music_active == true && n.music_option == true && n.music_bin == false && n.User.role_id == 2).OrderByDescending(n => n.music_dowload).Take(8))
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card-media">
                                <!-- media container -->
                                <div class="card-media-object-container">
                                    <div class="card-media-object w-100" style="background-image: url('../../Images/Music/@item.music_img');"></div>
                                    @if (item.music_vip == true)
                                    {
                                        <span class="card-media-object-tag subtle text-danger">VIP</span>
                                    }
                                    else
                                    {
                                        <span class="card-media-object-tag subtle">Miễn Phí</span>
                                    }
                                    <ul class="card-media-object-social-list">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            <li>
                                                @foreach (var items in singer)
                                                {
                                                    foreach (var jtem in item.Groups.Where(x => x.singer_id != items.singer_id))
                                                    {
                                                        <img src="~/Images/Singer/@items.singer_img" class="">
                                                    }
                                                }
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @foreach (var items in user.Where(n => n.user_id == item.user_id))
                                                {
                                                    <img src="~/Images/User/@items.user_img" class="">
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- body container -->
                                <div class="card-media-body">
                                    <div class="card-media-body-top">
                                        <span class="subtle">@item.music_datecreate.Value.Day/@item.music_datecreate.Value.Month/@item.music_datecreate.Value.Year</span>
                                        <div class="card-media-body-top-icons u-float-right">
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 0h24v24H0z" fill="none" />
                                                <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                                            </svg>
                                            <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                                                <path d="M0 0h24v24H0z" fill="none" />
                                            </svg>
                                        </div>
                                    </div>
                                    <span class="card-media-body-heading" style="font-size: 16px !important; font-weight:bold;">@item.music_name</span>
                                    <div class="card-media-body-supporting-bottom">
                                        @if (item.Groups.Where(x => x.singer_id != null).Count() > 0)
                                        {
                                            foreach (var items in singer)
                                            {
                                                foreach (var jtem in item.Groups.Where(x => x.singer_id == items.singer_id))
                                                {
                                                    <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.singer_name</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            foreach (var items in user.Where(n => n.user_id == item.user_id))
                                            {
                                                <span class="card-media-body-supporting-bottom-text subtle u-float-right">@items.user_name</span>
                                            }
                                        }
                                    </div>
                                    <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                                        @if (function.Cookie() != null)
                                        {
                                            var idus = function.CookieID();
                                            if (item.music_vip == true)
                                            {
                                                if (idus.user_vip == true)
                                                {
                                                    <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                                }
                                                else
                                                {
                                                    <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>

                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else if (function.Cookie() == null)
                                        {
                                            if (item.music_vip == true)
                                            {
                                                <a href="" data-toggle="modal" data-target="#nonevip" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DetailsMusic", "Musics", new { id = item.music_id })" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Nghe Nhạc</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-12 mt-5 p-0">
                    <div class="team__btn">
                        <a href="@Url.Action("Musics", "Index")" class="primary-btn">Xem Tất Cả Bài Hát</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nhạc phổ biến Nhất -->
<!-- Ca Sỹ -->
<section class="testimonial spad set-bg" data-setbg="../../Content/Layout/img/testimonial-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>Ca Sỹ</span>
                    <h2>Có Thể Bạn Chưa Biết?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <style>
                .cutP{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 25px;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            </style>
            <div class="testimonial__slider owl-carousel">
                @foreach (var item in singer.Where(n => n.singer_active == true && n.singer_bin == false).OrderByDescending(n => n.singer_datecreate))
                {
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <div class="testimonial__text">
                                <p class="cutP">
                                    @item.singer_note
                                </p>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="~/Images/Singer/@item.singer_img" style="width: 50px; height: 50px !important" alt="@item.singer_name">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>@item.singer_name</h5>
                                    <span>Ca Sỹ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Ca sỹ -->
<!-- Call To Action Section End -->
<div class="modal fade" id="nonevip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo nhạc dành cho vip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Nếu bạn muốn nghe bài này! Hãy <a href="/Pays/Index">nâng cấp tài khoản ngay</a>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>