@model Music.Model.EF.Slider

@{
    ViewBag.Title = "Xóa slider " + Model.slider_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>

                <h3 class="mt-3">Bạn có chắc muốn xóa?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.slider_img)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.slider_img)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.slider_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.slider_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.slider_link)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.slider_link)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.slider_datecreate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.slider_datecreate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.slider_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.slider_active)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

