@model Music.Model.EF.Package

@{
    ViewBag.Title = "Xem gói " + Model.package_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/PackagesA/Edit/@Model.package_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa gói</a>

                <form class="ui form segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Gói</label>
                            <input value="@Model.package_name" name="package_name" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Ngày Tạo</label>
                            <input value="@Model.package_datecreate" name="package_datecreate" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Thời Hạn Gói</label>
                            <input value="@Model.package_month" name="package_month" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Giá Gói</label>
                            <input value="@Model.package_money" name="package_money" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Trạng Thái Hoạt Động</label>
                            <select class="ui dropdown" name="gender">
                                @if (Model.package_active == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                        <div class="field">
                            <label>Trạng Thái Hiển Thị</label>
                            <select class="ui dropdown" name="gender">
                                @if (Model.package_option == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
