@using Music.Model.EF
@{
    MusicProjectDataEntities db = new MusicProjectDataEntities();
    ViewBag.Title = "RankMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Music> musics = db.Musics.ToList();
    List<User> users = db.Users.ToList();
    var i = 1;
}
<style>
    .Point {
        cursor: pointer;
    }
</style>
@if (ViewBag.Note == "all")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true).OrderByDescending(n => n.music_view).Take(10))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach(var items in users.Where(n => n.user_id == item.user_id))
                                            { 
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.Note == "100")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true).OrderByDescending(n => n.music_view).Take(100))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach (var items in users.Where(n => n.user_id == item.user_id))
                                            {
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.Note == "viet")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true && n.nation_id == 2).OrderByDescending(n => n.music_view).Take(100))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach (var items in users.Where(n => n.user_id == item.user_id))
                                            {
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.Note == "tre")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true && n.nation_id == 4).OrderByDescending(n => n.music_view).Take(100))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach (var items in users.Where(n => n.user_id == item.user_id))
                                            {
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.Note == "aumy")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true && n.nation_id == 3).OrderByDescending(n => n.music_view).Take(100))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach (var items in users.Where(n => n.user_id == item.user_id))
                                            {
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
else if (ViewBag.Note == "kpop")
{
    <section class="services spad" ng-app="myApp">
        <div class="container" ng-controller="myCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="font-size: 35px" class="text-white font-weight-bold text-center mt-3">BẢNG XẾP HẠNG ÂM NHẠC</h2>

                    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/highcharts@6/highcharts.js"></script>
                    <!-- vue-highcharts should be load after Highcharts -->
                    <script src="https://cdn.jsdelivr.net/npm/vue-highcharts@0.1/dist/vue-highcharts.min.js"></script>

                    <div id="app">
                        <highcharts :options="options" ref="highcharts"></highcharts>
                    </div>
                    <table class="table text-white table-hover">
                        @foreach (var item in musics.Where(n => n.music_active == true && n.nation_id == 3).OrderByDescending(n => n.music_view).Take(100))
                        {
                            <tr class="mt-2">
                                <td width="10%">
                                    <br />
                                    <center>
                                        @if (i == 1)
                                        {
                                            <b class="text-primary" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 2)
                                        {
                                            <b class="text-success" style="font-size: 30px">@i -</b>
                                        }
                                        else if (i == 3)
                                        {
                                            <b class="text-danger" style="font-size: 30px">@i -</b>
                                        }
                                        else
                                        {
                                            <b style="font-size: 30px">@i -</b>
                                        }
                                    </center>
                                </td>
                                <td width="40%">
                                    <img class="float-left ui medium rounded image medium rounded image" src="~/Images/Music/@item.music_img" style="width: 60px; height: 60px" />
                                    <div class="float-left ml-3">
                                        &nbsp;<a href="/Musics/DetailsMusic/@item.music_id'" style="font-size: 15px" class="text-white">@item.music_name</a>
                                        @if (item.singer_id != null)
                                        {
                                            <p>
                                                @item.Singer.singer_name
                                            </p>
                                        }
                                        else
                                        {
                                            foreach (var items in users.Where(n => n.user_id == item.user_id))
                                            {
                                                <p>
                                                    @items.user_name
                                                </p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top: 30px; padding-bottom: 30px">@item.music_time</p>
                                </td>
                                <td>
                                    <div style="padding-top: 30px; padding-bottom: 30px" class="float-right">
                                        <i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-download"></i>
                                    </div>
                                </td>
                            </tr>

                            i++;
                        }
                    </table>
                    <center>
                        <a href="/Musics/RankMusic?name=100" class="ui secondary button" style="font-size: 15px">Top 100</a>
                    </center>
                </div>
            </div>
        </div>
    </section>
}
<script>
    var options = {
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
            ]
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            @foreach(var item in musics.Where(n => n.music_active == true).OrderByDescending(n => n.music_view).Take(3))
            {
                @: { name: '@Html.Raw(item.music_name)', data: [@item.music_view, @item.music_view + 2, @item.music_view + 3, @item.music_view + 4, @item.music_view + 5, @item.music_view + 6, @item.music_view + 7, @item.music_view + 8, @item.music_view + 9, @item.music_view + 10, @item.music_view + 11, @item.music_view + 12] },
            }

        ]
    };

    var vm = new Vue({
        el: '#app',
        data: {
            options: options
        },
        methods: {
            updateCredits: function () {
                var chart = this.$refs.highcharts.chart;
                chart.credits.update({
                    style: {
                        color: '#' + (Math.random() * 0xffffff | 0).toString(16)
                    }
                });
            }
        }
    });
</script>

