@using Music.Model.EF;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";

    MusicProjectDataEntities db = new MusicProjectDataEntities();

    List<Music> musics = db.Musics.ToList();
    List<Album> albums = db.Albums.ToList();
    List<Pay> pays = db.Pays.ToList();
    List<User> users = db.Users.ToList();
}

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h3 class="card-title text-white">Tổng doanh thu</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@pays.Where(n => n.pay_status == true).Sum(n => n.pay_summoney).Value.ToString("#,###") vnđ</h2>
                    <p class="text-white mb-0">
                        Gần đây
                        @foreach (var item in pays.Where(n => n.pay_status == true).OrderByDescending(n => n.pay_datecreate).Take(1))
                        {
                            @item.pay_datecreate
                        }
                    </p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-record-vinyl"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h3 class="card-title text-white">Bài Hát Admin</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@musics.Where(n => n.User.role_id == 2).Count() bài hát</h2>
                    <p class="text-white mb-0">
                        Gần đây
                        @foreach (var item in musics.Where(n => n.User.role_id == 2).OrderByDescending(n => n.music_datecreate).Take(1))
                        {
                            @item.music_datecreate
                        }
                    </p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-music"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h3 class="card-title text-white">Bài hát người dùng</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@musics.Where(n => n.User.role_id == 1).Count() bài hát</h2>
                    <p class="text-white mb-0">
                        Gần đây
                        @foreach (var item in musics.Where(n => n.User.role_id == 1).OrderByDescending(n => n.music_datecreate).Take(1))
                        {
                            @item.music_datecreate
                        }
                    </p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fas fa-podcast"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h3 class="card-title text-white">Người Dùng</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@users.Where(n => n.role_id == 1).Count() tài khoản</h2>
                    <p class="text-white mb-0">
                        Gần đây
                        @foreach (var item in users.Where(n => n.role_id == 1).OrderByDescending(n => n.user_datecreate).Take(1))
                        {
                            @item.user_datecreate
                        }
                    </p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </div>
        </div>
    </div>

</div>
<div class="row">
    @foreach (var item in users.Where(n => n.role_id == 1).OrderByDescending(n => n.user_datecreate).Take(4))
    {
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/Images/User/@item.user_img" class="rounded-circle" alt="" style="width: 70px; height: 70px">
                        <h5 class="mt-3 mb-1">@item.user_name</h5>
                        <p class="m-0">@item.user_email</p>
                        <!-- <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a> -->
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .crl {
        overflow-y: auto;
        height: 300px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive crl">
                        <table class="table table-xs mb-0">
                            <tbody id="displayHistoryShow">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Proxy created on the fly
        var cus = $.connection.historyHub;
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayHistoryShow = function () {
            getData();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
    });
    function getData() {
        var $tbl = $('#displayHistoryShow');
        $.ajax({
            url: '/AdminMain/ViewA/GetHistory',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $tbl.empty();
                $.each(data.list, function (i, model) {
                    $tbl.append
                        (
                            '<tr><td><img src="/Images/User/' + model.img + '" style="width: 40px; height: 40px"/>&nbsp;' + model.email + '</td>' +
                            '<td>' + model.content + '</td><td><span>' + model.date + '</span></td>/tr>'
                        );
                });
            }
        });
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Tên nhạc</th>
                                    <th>Nhạc sỹ</th>
                                    <th>Quốc gia</th>
                                    <th>Lượt nghe</th>
                                    <th>Lượt tải</th>
                                    <th>Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in musics.OrderByDescending(n => n.music_datecreate).Take(10))
                                {
                                    <tr>
                                        <td><img src="~/Images/Music/@item.music_img" class=" rounded-circle mr-3" alt="" style="width: 50px; height: 50px">@item.music_name</td>
                                        <td>@item.Author.author_name</td>
                                        <td>
                                            <span>
                                                @item.National.nation_name
                                            </span>
                                        </td>
                                        <td>
                                            @item.music_view
                                        </td>
                                        <td>@item.music_dowload</td>
                                        <td>
                                            <span>@item.music_datecreate</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




