@model Music.Model.EF.Quest

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quest_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quest_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quest_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quest_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quest_dateend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quest_dateend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quest_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quest_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quest_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quest_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon.coupons_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon.coupons_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon1.coupons_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon1.coupons_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon2.coupons_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon2.coupons_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon3.coupons_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon3.coupons_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.National.nation_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.National.nation_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Singer.singer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Singer.singer_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.quest_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
