@model Music.Model.EF.Author

@{
    ViewBag.Title = "Xem thông tin nhạc sỹ " + Model.author_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/AuthorsA/Edit/@Model.author_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa nhạc sỹ</a>
                <form class="ui form segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Nhạc Sĩ</label>
                            <input value="@Model.author_name" name="author_name" type="text" />
                        </div>
                        <div class="field">
                            <label>Hình Ảnh</label>
                            <img class="ui medium rounded image" src="~/Images/author/@Model.author_img">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Ngày Tạo</label>
                            <input value="@Model.author_datecreate" name="author_datecreate" type="text" />
                        </div>
                        <div class="field">
                            <label>Ngày Sửa</label>
                            <input value="@Model.author_dateupdate" name="author_dateupdate" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Trạng Thái Hoạt Động</label>
                            <select class="ui dropdown" name="gender">
                                @if (Model.author_active == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Ghi Chú</label>
                        <textarea>@Model.author_note</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

