@using Music.Model.EF
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    MusicProjectDataEntities db = new MusicProjectDataEntities();
    List<National> nationals = db.Nationals.ToList();
}

<style>
    .font_color a {
        color: black;
        font-size: 20px;
    }

        .font_color a:hover {
            color: royalblue;
        }
</style>
<div ng-app="myApp">
    <div ng-controller="myCtrl">
        <div class="card-box mb-30">
            <div class="pd-20">
                <h4 class="text-black-50 h4">Có {{(list | filter:textSearch).length}} Bài Hát</h4>
            </div>
            <div class="pd-20 ui form">
                <div class="three fields">
                    <div class="field">
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Nhập Bài Hát..." ng-model="textSearch.music_name">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="field">
                        <select class="ui dropdown">
                            <option>Tất Cả</option>
                            <option>Hoạt Động</option>
                            <option>Hiển Thị</option>
                            <option>Ngừng Hoạt Động</option>
                            <option>Ngừng Hiển Thị</option>
                        </select>
                    </div>
                    <div class="field">
                        <button ng-click="linkDel()" class="ui secondary button">
                            <i class="icon-copy dw dw-trash1"></i> Thùng Rác
                        </button>
                        <button data-toggle="modal" data-target="#create-Admin" class="ui button">
                            <i class="icon-copy dw dw-add"></i> Thêm Bài Hát
                        </button>
                    </div>
                </div>
            </div>
            <div class="pb-20">
                <table class="checkbox-datatable table nowrap">
                    <thead>
                        <tr>
                            <th><i class="icon-copy dw dw-list2"></i>  Tên Bài Hát</th>
                            <th><i class="icon-copy dw dw-image1"></i>  Hình Ảnh</th>
                            <th><i class="icon-copy dw dw-battery1"></i>  Trạng Thái</th>
                            <th><i class="icon-copy dw dw-monitor"></i>  Tình Trạng</th>
                            <th><i class="icon-copy dw dw-calendar-11"></i>  Ngày Đăng</th>
                            <th><i class="icon-copy dw dw-calendar1"></i>  Ngày Sửa</th>
                            <th><i class="icon-copy dw dw-magic-wand"></i>  Tuỳ Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in list | filter: textSearch">
                            <td>{{list.music_name}}</td>
                            <td>
                                <img class="ui medium rounded image" style="width: 50px; height: 50px" src="~/Images/Music/{{list.music_img}}">
                            </td>
                            <td>
                                <div ng-show="list.music_active == true">
                                    <button ng-click="active(list.music_id)" class="ui inverted primary button">Hoạt Động</button>
                                </div>
                                <div ng-show="list.music_active == false">
                                    <button ng-click="active(list.music_id)" class="ui inverted red button">Không Hoạt Động</button>
                                </div>
                            </td>
                            <td>
                                <div ng-show="list.music_option == true">
                                    <button ng-click="option(list.music_id)" class="ui inverted green button">Hiển Thị</button>
                                </div>
                                <div ng-show="list.music_option == false">
                                    <button ng-click="option(list.music_id)" class="ui inverted red button">Không Hiển Thị</button>
                                </div>
                            </td>
                            <td>{{list.music_datecreate}}</td>
                            <td>{{list.music_dateedit}}</td>
                            <td>
                                <center class="font_color">
                                    <a data-toggle="modal" data-target="#details-Admin{{list.music_id}}"><i class="icon-copy dw dw-eye"></i></a> |
                                    <a ng-click="bin(list.music_id)"><i class="icon-copy dw dw-trash1"></i></a> |
                                    <a data-toggle="modal" data-target="#edit-Admin{{list.music_id}}"><i class="icon-copy dw dw-edit2"></i></a>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Modal Edit-->
        <div ng-repeat="list in list" class="col-md-4 col-sm-12 mb-30">
            <div class="modal fade bs-example-modal-lg" id="edit-Admin{{list.music_id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Bài Hát {{list.music_name}}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("Edit", "MusicsListAdmin")" method="post" enctype="multipart/form-data" class="ui form">
                                @Html.AntiForgeryToken()
                                <input value="{{list.music_id}}" type="hidden" name="music_id" />
                                <p>Chỉnh sửa các thông tin cần thiết: </p>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Tên Bài Hát</label>
                                        <input value="{{list.music_name}}" name="music_name" type="text">
                                    </div>
                                    <div class="field">
                                        <label>Link Bài Hát</label>
                                        <input value="{{list.music_linkdow}}" name="MP3" type="file"/>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Thời Lượng</label>
                                        <input name="music_time" value="{{list.music_time}}" type="text" />
                                    </div>
                                    <div class="field">
                                        <label>Quốc Gia</label>
                                        <select name="nation_id" class="ui dropdown">
                                            @foreach(var item in nationals)
                                            {
                                                <option value="@item.nation_id">@item.nation_name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Hình Ảnh</label>
                                        <input type="file" name="IMG" value="music_img">
                                        <label></label>
                                        <img class="ui medium rounded image" style="height: 200px; width: 100% " src="~/Images/Music/{{list.music_img}}">
                                    </div>
                                    <div class="field">
                                        <label>Lời Bài Hát</label>
                                        <textarea name="music_lyric">@Html.Raw("{{list.music_lyric}}")</textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label></label>
                                </div>
                                <button type="submit" class="ui primary submit button right">Sửa</button>
                                <div class="ui error message"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal-->
        <!--Modal details-->
        <div ng-repeat="list in list" class="col-md-4 col-sm-12 mb-30">
            <div class="modal fade bs-example-modal-lg" id="details-Admin{{list.music_id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Bài Hát: {{list.music_name}}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Lượt Xem</label>
                                        <input value="{{list.music_view}}" type="text">
                                    </div>
                                    <div class="field">
                                        <label>Tên Bài Hát</label>
                                        <input value="{{list.music_name}}" type="text">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Hình Ảnh</label>
                                        <img class="ui medium rounded image" style="height: 200px; width: 100% " src="~/Images/Music/{{list.music_img}}">
                                    </div>
                                    <div class="field">
                                        <label>Lời Bài Hát</label>
                                        <textarea name="music_lyric">@Html.Raw("{{list.music_lyric}}")</textarea>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Trạng Thái</label>
                                        <div ng-show="list.music_active == true" class="ui checked checkbox">
                                            <input type="checkbox" checked="" disabled>
                                            <label>Hoạt Động</label>
                                        </div>
                                        <div ng-show="list.music_active == false" class="ui checked checkbox">
                                            <input type="checkbox" disabled>
                                            <label>Không Hoạt Động</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Tình Trạng</label>
                                        <div ng-show="list.music_option == true" class="ui checked checkbox">
                                            <input type="checkbox" checked="" disabled>
                                            <label>Hiển Thị</label>
                                        </div>
                                        <div ng-show="list.music_option == false" class="ui checked checkbox">
                                            <input type="checkbox" disabled>
                                            <label>Không Hiển Thị</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Ngày Tạo</label>
                                        <input value="{{list.music_datecreate}}" type="text">
                                    </div>
                                    <div class="field">
                                        <label>Ngày Cập Nhật</label>
                                        <input value="{{list.music_dateedit}}" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Modal-->
    </div>
</div>
<!-- Checkbox select Datatable End -->
<!--Modal create-->
<div class="col-md-4 col-sm-12 mb-30">
    <div class="pd-20">
        <div class="modal fade bs-example-modal-lg" id="create-Admin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Bài Hát</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("Add", "MusicsListAdmin")" method="post" enctype="multipart/form-data" class="ui form">
                            <p>Nhập đủ các thông tin sau: </p>
                            <div class="two fields">
                                <div class="field">
                                    <label>Tên Bài Hát</label>
                                    <input placeholder="Nhập tên Bài Hát" name="music_name" type="text">
                                </div>
                                <div class="field">
                                    <label>Link Bài Hát</label>
                                    <input name="MP3" type="file" />
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Hình Ảnh</label>
                                    <input type="file" name="IMG">
                                </div>
                                <div class="field">
                                    <label>Lời Bài Hát</label>
                                    <textarea name="music_lyric"></textarea>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>Thời Lượng</label>
                                    <input name="music_time" type="text" />
                                </div>
                                <div class="field">
                                    <label>Quốc Gia</label>
                                    <select name="nation_id" class="ui dropdown">
                                        @foreach (var item in nationals)
                                        {
                                            <option value="@item.nation_id">@item.nation_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Trạng Thái</label>
                                    <select class="ui dropdown" name="music_active">
                                        <option value="true">Cho Phép Hoạt Động</option>
                                        <option value="false">Không Phép Hoạt Động</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ui primary submit button right">Thêm</div>
                            <div class="ui error message"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Modal-->
<!-- Success modal -->
<div class="modal fade" id="noteDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center font-18">
                <h3 class="mb-20">Chuyển Vào Thùng Rác Thành Công!</h3>
                <div class="mb-30 text-center"><img src="~/Content/LayoutAdmin/vendors/images/success.png"></div>
                Dữ liệu đã được chuyển vào thùng rác.
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/JsonAdmin/Musics?del="
        }).then(function mySuccess(response) {
            $scope.list = response.data;

            $scope.active = function (id) {
                $http.get("/MusicsListAdmin/Active?id=" + id)
                    .then(function (response) {
                        $scope.list = response.data;
                    });
            };

            $scope.option = function (id) {
                $http.get("/Admin/MusicsListAdmin/Option?id=" + id)
                    .then(function (response) {
                        $scope.list = response.data;
                    });
            };

            $scope.bin = function (id) {
                $http.get("/Admin/MusicsListAdmin/Del?id=" + id)
                    .then(function (response) {
                        $scope.list = response.data;

                        $(document).ready(function () {
                            $('#noteDel').modal('show');
                        })
                    });
            };

            $scope.linkDel = function () {
                window.location.href = '/Admin/MusicsListAdmin/Delete';
            };


        }, function myError(response) {
            $scope.list = response.statusText;
        });
    });
</script>