@model Music.Model.EF.Category

@{
    ViewBag.Title = "Xóa thông tin danh mục " + Model.category_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/CategoriesA/Edit/@Model.category_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa danh mục</a>

                <h3>Bạn có chắc muốn xóa?</h3>
                <div class="mt-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.category_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_bin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_bin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_note)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_note)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_view)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_view)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.user_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.user_id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_datecreate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_datecreate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_dateupdate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_dateupdate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category_img)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category_img)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


