@model Music.Model.EF.Pay

@{
    ViewBag.Title = "Xem hóa đơn của " + Model.User.user_email;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/PaysA/Edit/@Model.pay_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa hóa đơn</a>

                <div class="mt-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.pay_datecreate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pay_datecreate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pay_dateexpiration)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pay_dateexpiration)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pay_summoney)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pay_summoney)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pay_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pay_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.pay_status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.pay_status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Package.package_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Package.package_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.user_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.user_name)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

