@model Music.Model.EF.Pay

@{
    ViewBag.Title = "Xem hóa đơn của " + Model.User.user_email;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/PaysA/Edit/@Model.pay_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa hóa đơn</a>
                <form class="ui form segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Người Mua</label>
                            <input value="@Model.User.user_name" type="text" />
                        </div>
                        <div class="field">
                            <label>Gói Đã Mua</label>
                            <input value="@Model.Package.package_name" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Ngày Mua</label>
                            <input value="@Model.pay_datecreate" type="text" />
                        </div>
                        <div class="field">
                            <label>Ngày Hết Hạn Gói</label>
                            <input value="@Model.pay_dateexpiration" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label>Giá Gói</label>
                        <input value="@Model.pay_summoney VNĐ" type="text" />
                    </div>
                    <div class="field">
                        <label>Trạng Thái Hiển Thị</label>
                        <select class="ui dropdown" name="gender">
                            @if (Model.pay_status == true)
                            {
                                <option value="true">Hoạt Động</option>
                            }
                            else
                            {
                                <option value="false">Không Hoạt Động</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

