@model Music.Model.EF.Pay

@{
    ViewBag.Title = "Sửa hóa đơn " + Model.User.user_email;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal mt-3 ui form segment">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.pay_id)

                        <div class="form-group">
                            <label>Tên Người Dùng</label>
                            <div class="col-md-12">
                                @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tên Gói Mua</label>
                            <div class="col-md-12">
                                @Html.DropDownList("pakage_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.pakage_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ngày Mua</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pay_datecreate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pay_datecreate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ngày Gia Hạn</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pay_dateexpiration, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pay_dateexpiration, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Giá Mua</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pay_summoney, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pay_summoney, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Trạng Thái Hoạt Động</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.pay_active, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pay_active, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nội Dung Giao Dịch</label>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.pay_status)
                                    @Html.ValidationMessageFor(model => model.pay_status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Sửa" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
